/*#region PersonListRegion*/
.container {
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.profile-card-wrapper {
  width: 320px;
  height: 520px;
  position: relative;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-card-wrapper .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-body .card-text {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.card-body .card-text span {
  margin-left: 5px;
}

.table-wrapper {
  flex: 1 1 80%;
  min-width: 0;
}
.table {
  width: calc(100%+20%);
  margin-right: -20%;
}

@media (max-width: 768px) {
  .table-wrapper{
    flex: 1 1 100%;
  }

  .table {
    width: 100%;
    margin-right: 0;
  }
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fab:hover {
  background-color: #0056b3;
}

.add-person-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-column {
  width: 150px;
  text-align: center;
}

.table .btn {
  margin: 0 2px;
}

/*#endregion PersonListRegion*/

/*#region NavbarRegion*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 25%;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: -75%;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  height: auto;
}

.navbar .form-control {
  max-width: 300px;
  margin-left: 20px;
}

.navbar .nav-link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.navbar .nav-link i {
  margin-right: 4px;
}

@media (max-width: 992px) {
  .navbar-left {
    margin-left: 0;
  }

  .navbar-center {
    margin-left: 0;
  }

  .navbar-left form {
    flex-grow: 1;
  }

  .navbar-left .form-control {
    width: 100%;
  }
}

/*#endregion NavbarRegion*/
